# Ignore la mise en cache python 
__pycache__/

# Ignore les fichiers R 
*.R

# Ignore les Jupyter Notebook 
*.ipynb

# Ignore les changemtents de settings vscode 
*.vscode

# Ignore les csv (évite les problèmes de push nécessitant git lfs) 
*.cscv

# add by Abdoul
ME/
ME/*.ipynb
ME/*.csv
.DS_STORE
src/data_science/tst.ipynb
src/data_science/model_simple_2023.pkl
src/data_science/best_model_2023.pkl
src/data_science/first_model.ipynb